.wrap {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 1px solid;
  position: relative;
}
.square {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  box-sizing: border-box;
  /*border: 1px solid;*/

}
.wrap-for-btn {
  text-align: center;
}
img {
  width: 50px;
  height: 50px;
}
